:root {
    --white: rgb(240, 248, 255);
    --blue: rgb(0, 38, 255);
    --black: rgb(0, 0, 0);
    --green: rgb(30,120,80);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;  
    object-fit: cover;  
    opacity: 0.7;
    position: absolute;
}

header {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    position: absolute;
    width: 100vw;
    height: 40vh;
}

.title {
    color: var(--blue);
    background-color: var(--white);
    font-size: 32px;
    margin-bottom: 45px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.subTitle {
    color: var(--blue);
    background-color: var(--white);
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.field {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
}

.areaField {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh;
    width: 50vw;
    border: 2px solid var(--white);
    border-radius: 8px;
    flex-direction: column;
    background-image: url('../img/matrix.jpg');    
    background-size: cover;    
    position: absolute
}

.buttonConvert {
    margin-top: 40px;
    padding: 15px;
    font-size: 14px;
    font-weight: bold;
    border: 2px solid var(--black);
    border-radius: 5px;
    outline: none;
    background-color: var(--white);
    cursor: pointer;   
}

#inputField {
    height: 40px;
    padding: 10px;
    border: 2px solid var(--black);
    border-radius: 5px;
    font-size: 18px;
    outline: none;
}

.f {
    color: var(--green);
    background-color: var(--white);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-radius: 10px;
    width: 420px;
    position: fixed;
    bottom: 0px;
}

@media (min-width: 1440px) {
    .areaField {
        width: 65vw;
        object-fit: contain;
    }   
    .title {
        font-size: 45px;
    } 
    .subTitle {
        font-size: 22px;
    } 
    #inputField {
        width: 385px;
        padding: 15px;
        font-size: 20px;
        text-align: center;    
    }    
    .buttonConvert {
        padding: 18px;
        font-size: 18px;
        width: 350px;
    }    
    .f {
        width: 720px;
        font-size: 18px;
    } 
}

@media (max-width: 688px) {
    .areaField {
        width: 45vw;
        margin-top: 20vh;
        object-fit: contain;
    }   
    #inputField {
        height: 30px;
        width: 125px;
        padding: 7px;
        font-size: 16px;
        text-align: center;    
    }    
    .buttonConvert {
        padding: 9px;
    }    
}

@media  (max-width: 400px) {
    .title {
        font-size: 22px;
    } 
    .subTitle {
        font-size: 15px;
    } 
    #inputField {
        width: 105px;
        font-size: 13px;    
    }    
    .buttonConvert {
        padding: 7.5px;
        font-size: 12px;
    }    
    .f {
        width: 320px;
        font-size: 14px;
    } 
}